@font-face {
    font-family: "Manrope";
    src: url(Fonts/Manrope-VariableFont_wght.ttf);
}

html, body {
    height: 3043px;
    background-color: var(--primary-color);
    margin: auto;
    overflow-x: hidden;
}
body:hover {
    background-color: var(--primary-color);
}

::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    background: var(--eighth-color);
  }
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
